In [6]:
import pandas as pd
stocks2_path= "D:\\17A3KHDL\\LAB3\\DATA\\stocks2.csv"
stocks2=pd.read_csv(stocks2_path)
stocks1_path= "D:\\17A3KHDL\\LAB3\\DATA\\stocks1.csv"
stocks1=pd.read_csv(stocks1_path)
stocks=pd.concat([stocks1, stocks2], ignore_index=True)
companies_path="D:\\17A3KHDL\\LAB3\\DATA\\companies.csv"
companies=pd.read_csv(companies_path)
print("5 dòng đầu tiên của companies: ")
print(companies.head())

5 dòng đầu tiên của companies:
   name  employees headquarters_city headquarters_state
0  AMZN     613300           Seattle                 WA
1  GOOG      98771     Mountain View                 CA
2  AAPL     132000         Cupertino                 CA
3    FB      48268        Menlo Park                 CA
4  TSLA      48016         Palo Alto                 CA